/*general Styles for Etch A Sketch*/

/* TODO add in main formats for H1 intro and form */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#canvas {
  border: 3px solid black;
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.row {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.cell {
  /* border: 1px solid green; */
  flex-grow: 1;
}

.cell:hover {
  background-color: black;
}

